In [3]:
import pandas as pd
import numpy as np

Licences_sheet1 = pd.read_excel('C:/Users/12367/Documents/all_liquor_licensed_establishments_in_bc.xlsx', sheet_name='Licences')
Service_Areas_sheet2 = pd.read_excel('C:/Users/12367/Documents/all_liquor_licensed_establishments_in_bc.xlsx', sheet_name='Service Areas')
Hours_of_Service_sheet3 = pd.read_excel('C:/Users/12367/Documents/all_liquor_licensed_establishments_in_bc.xlsx', sheet_name='Hours of Service')
Endorsements_sheet4 = pd.read_excel('C:/Users/12367/Documents/all_liquor_licensed_establishments_in_bc.xlsx', sheet_name='Endorsements')

In [4]:
Licences_sheet1.rename(columns={'Establishment Address Postal Code':'postal_code'}, inplace=True)
Service_Areas_sheet2.rename(columns={'Licence Number (Licence) (Licence)':'Licence Number'}, inplace=True)
Hours_of_Service_sheet3.rename(columns={'Licence Number (Licence) (Licence)':'Licence Number'}, inplace=True)
Endorsements_sheet4.rename(columns={'Licence Number (Licence) (Licence)':'Licence Number'}, inplace=True)

In [5]:
New_dataset = pd.merge(Licences_sheet1, pd.merge(Service_Areas_sheet2, Endorsements_sheet4, on='Licence Number'), on='Licence Number')
New_dataset.head()

,Licence Number,Licence Type,Licence Sub Category Id,Establishment,Establishment Address Street,Establishment Address City,LG / IN,postal_code,Licensee,Third Party Operator,...,Establishment (Licence) (Licence)_x,Name_x,Area Number,Capacity,Area Location,LG / IN (Licence) (Licence)_x,Licence Type (Licence) (Licence)_y,Establishment (Licence) (Licence)_y,Name_y,LG / IN (Licence) (Licence)_y
0,310410,Manufacturer,Brewery,Shaketown Brewing,NaN,NaN,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,NaN,...,Shaketown Brewing,Yes - Service 15,1.0,15.0,NaN,North Vancouver - City,Manufacturer,Shaketown Brewing,Lounge Area Endorsement,North Vancouver - City
1,310410,Manufacturer,Brewery,Shaketown Brewing,NaN,NaN,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,NaN,...,Shaketown Brewing,Yes - Service 15,1.0,15.0,NaN,North Vancouver - City,Manufacturer,Shaketown Brewing,On-Site Store Endorsement,North Vancouver - City
2,310410,Manufacturer,Brewery,Shaketown Brewing,NaN,NaN,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,NaN,...,Shaketown Brewing,Yes - Service 15,1.0,15.0,NaN,North Vancouver - City,Manufacturer,Shaketown Brewing,Lounge Area Endorsement,North Vancouver - City
3,310410,Manufacturer,Brewery,Shaketown Brewing,NaN,NaN,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,NaN,...,Shaketown Brewing,Yes - Service 15,1.0,15.0,NaN,North Vancouver - City,Manufacturer,Shaketown Brewing,On-Site Store Endorsement,North Vancouver - City
4,310410,Manufacturer,Brewery,Shaketown Brewing,NaN,NaN,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,NaN,...,Shaketown Brewing,Yes - Service Patio 1 15,NaN,15.0,Patio 1,North Vancouver - City,Manufacturer,Shaketown Brewing,Lounge Area Endorsement,North Vancouver - City

In [6]:
## Dropping unwanted Columns
Columns_to_drop = ['Establishment Address Street', 'Establishment Address City', 'Third Party Operator',
                    'Licence Type (Licence) (Licence)_x', 'Establishment (Licence) (Licence)_x', 'Name_x', 'Area Number', 'Area Location', 
                    'LG / IN (Licence) (Licence)_x', 'Licence Type (Licence) (Licence)_y', 'Establishment (Licence) (Licence)_y', 'Name_y',
                      'LG / IN (Licence) (Licence)_y', 'Licence Sub Category Id' ]
New_dataset.drop(Columns_to_drop, axis=1, inplace=True)
New_dataset.head()

,Licence Number,Licence Type,Establishment,LG / IN,postal_code,Licensee,Expiry Date,Capacity
0,310410,Manufacturer,Shaketown Brewing,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,2024-03-31,15.0
1,310410,Manufacturer,Shaketown Brewing,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,2024-03-31,15.0
2,310410,Manufacturer,Shaketown Brewing,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,2024-03-31,15.0
3,310410,Manufacturer,Shaketown Brewing,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,2024-03-31,15.0
4,310410,Manufacturer,Shaketown Brewing,North Vancouver - City,NaN,SHAKETOWN BREW CORP.,2024-03-31,15.0

In [7]:
New_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5421 entries, 0 to 5420
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Licence Number  5421 non-null   int64
 1   Licence Type    5421 non-null   object
 2   Establishment   5421 non-null   object
 3   LG / IN         5421 non-null   object
 4   postal_code     5415 non-null   object
 5   Licensee        5421 non-null   object
 6   Expiry Date     5421 non-null   datetime64[ns]
 7   Capacity        5406 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 381.2+ KB

In [8]:
New_dataset.dropna(inplace=True)
New_dataset.isnull().sum()

Licence Number    0
Licence Type      0
Establishment     0
LG / IN           0
postal_code       0
Licensee          0
Expiry Date       0
Capacity          0
dtype: int64

In [18]:
New_dataset.to_excel('Resturants_BC_New.xlsx', index=False)

In [9]:
postal_code_dataframe = pd.read_csv('C:/Users/12367/Desktop/Tableau 652 Assignment 1/ODA_BC_v1.csv')
postal_code_dataframe.head()

C:\Users\12367\AppData\Local\Temp\ipykernel_20580\1661907415.py:1: DtypeWarning: Columns (2,5,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  postal_code_dataframe = pd.read_csv('C:/Users/12367/Desktop/Tableau 652 Assignment 1/ODA_BC_v1.csv')

,latitude,longitude,source_id,id,group_id,street_no,street,str_name,str_type,str_dir,...,postal_code,full_addr,city_pcs,str_name_pcs,str_type_pcs,str_dir_pcs,csduid,csdname,pruid,provider
0,49.63172,-114.69392,NaN,954d3f9e8025e26a0f51,6964638,2000,1 Street,1,Street,NaN,...,NaN,2000 1 Street,COLEMAN,1,ST,NaN,5901006,Sparwood,59,Alberta Municipal Data Sharing Partnership
1,49.63176,-114.69377,NaN,3be06e5af87d58dfd6c6,6964639,2004,1 Street,1,Street,NaN,...,NaN,2004 1 Street,COLEMAN,1,ST,NaN,5901006,Sparwood,59,Alberta Municipal Data Sharing Partnership
2,49.00264,-122.39801,NaN,b2c5e74d96ae1061d5a8,6983516,29807,0 AVE,NaN,NaN,NaN,...,NaN,29807 0 AVE,ABBOTSFORD,0,AVE,NaN,5909052,Abbotsford,59,City of Abbotsford
3,49.00264,-122.39904,NaN,160e644a0feb9b9abcc9,6983491,29787,0 AVE,NaN,NaN,NaN,...,NaN,29787 0 AVE,ABBOTSFORD,0,AVE,NaN,5909052,Abbotsford,59,City of Abbotsford
4,49.01344,-122.39830,NaN,9a32c33d422d24c73cf2,7003677,592,ROSS RD,NaN,NaN,NaN,...,NaN,592 ROSS RD,ABBOTSFORD,ROSS,RD,NaN,5909052,Abbotsford,59,City of Abbotsford

In [10]:
col_to_drop_2 =['source_id', 'id', 'group_id', 'street_no', 'street', 'str_name', 'str_type', 'str_dir', 
                'unit', 'city', 'full_addr', 'city_pcs', 'str_name_pcs', 'str_type_pcs', 'str_dir_pcs', 
                'csduid', 'pruid', 'provider']

postal_code_dataframe.drop(col_to_drop_2,axis=1,inplace=True)
postal_code_dataframe.head()

   latitude  longitude postal_code     csdname
0  49.63172 -114.69392         NaN    Sparwood
1  49.63176 -114.69377         NaN    Sparwood
2  49.00264 -122.39801         NaN  Abbotsford
3  49.00264 -122.39904         NaN  Abbotsford
4  49.01344 -122.39830         NaN  Abbotsford

In [11]:
postal_code_dataframe.dropna(inplace=True)
postal_code_dataframe.isnull().sum()
postal_code_dataframe.head()

       latitude  longitude postal_code    csdname
85604  49.23218 -122.84070     V3K 1H8  Coquitlam
85605  49.24510 -122.87106     V3K 2W6  Coquitlam
85606  49.24511 -122.87161     V3K 2W6  Coquitlam
85607  49.29284 -122.79966     V3B 7E8  Coquitlam
85608  49.29183 -122.76769     V3E 1T1  Coquitlam

In [12]:
postal_code_dataframe['postal_code'] = postal_code_dataframe['postal_code'].str.replace(' ', '')
postal_code_dataframe.head()

       latitude  longitude postal_code    csdname
85604  49.23218 -122.84070      V3K1H8  Coquitlam
85605  49.24510 -122.87106      V3K2W6  Coquitlam
85606  49.24511 -122.87161      V3K2W6  Coquitlam
85607  49.29284 -122.79966      V3B7E8  Coquitlam
85608  49.29183 -122.76769      V3E1T1  Coquitlam

In [13]:
postal_code_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141644 entries, 85604 to 795599
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   latitude     141644 non-null  float64
 1   longitude    141644 non-null  float64
 2   postal_code  141644 non-null  object
 3   csdname      141644 non-null  object
dtypes: float64(2), object(2)
memory usage: 5.4+ MB

In [14]:
New_dataset_for_Tableau = pd.merge(New_dataset,postal_code_dataframe, on='postal_code')
New_dataset_for_Tableau.head()

,Licence Number,Licence Type,Establishment,LG / IN,postal_code,Licensee,Expiry Date,Capacity,latitude,longitude,csdname
0,308626,Food Primary,Cafe Delitzi (308626),Coquitlam,V3B0B5,1185304 B.C. LTD.,2023-11-30,27.0,49.28292,-122.79809,Coquitlam
1,308626,Food Primary,Cafe Delitzi (308626),Coquitlam,V3B0B5,1185304 B.C. LTD.,2023-11-30,27.0,49.28292,-122.79809,Coquitlam
2,308626,Food Primary,Cafe Delitzi (308626),Coquitlam,V3B0B5,1185304 B.C. LTD.,2023-11-30,27.0,49.28292,-122.79809,Coquitlam
3,308626,Food Primary,Cafe Delitzi (308626),Coquitlam,V3B0B5,1185304 B.C. LTD.,2023-11-30,27.0,49.28292,-122.79809,Coquitlam
4,308626,Food Primary,Cafe Delitzi (308626),Coquitlam,V3B0B5,1185304 B.C. LTD.,2023-11-30,27.0,49.28292,-122.79809,Coquitlam

In [15]:
New_dataset_for_Tableau.shape

(4338, 11)

In [17]:
New_dataset_for_Tableau.to_excel('Cleaned Resturants Dataset.xlsx', index=False)